version: "3.9"
services:
  logs:
    image: mongo
    networks:
      - vis

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://logs:27017/
    networks:
      - vis

  accounts-db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Password1"
      MSSQL_PID: "Express"
      MSSQL_TCP_PORT: "9823"
    networks:
      - vis

  accounts:
    build:
      context: .
      dockerfile: accounts.Dockerfile
    # ports:
    #   - "9999:9999"
    environment:
      ConnectionStrings__DatabaseConnection: "Server=accounts-db,9823;Database=AccountsDb;User Id=sa;Password=Password1"
      ASPNETCORE_URLS: http://0.0.0.0:9999/
      Serilog__WriteTo__1__Name: "MongoDB"
      Serilog__WriteTo__1__Args__databaseUrl: "mongodb://logs:27017/logs"
      Serilog__WriteTo__1__Args__collectionName: "logs"
    networks:
      - vis
    depends_on:
      - accounts-db
      - logs
      
  logs-viewer:
    build:
      context: .
      dockerfile: logs-viewer.Dockerfile
    # ports:
    #   - "9998:9998"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:9998/
      Serilog__WriteTo__1__Name: "MongoDB"
      Serilog__WriteTo__1__Args__databaseUrl: "mongodb://logs:27017/logs"
      Serilog__WriteTo__1__Args__collectionName: "logs"
      MongoDbContext__LogsCollection__ConnectionString: "mongodb://logs:27017/logs"
      MongoDbContext__LogsCollection__CollectionName: "logs"
    networks:
      - vis
    depends_on:
      - accounts
      - logs

  gateway:
    build:
      context: .
      dockerfile: gateway.Dockerfile
    ports:
      - "9000:9000"
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:9000/
    networks:
      - vis
    depends_on:
      - accounts
      - logs-viewer

networks:
  vis:
    driver: bridge